body {
  margin: 3em;
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  min-height: 30em;
}
blockquote {
  font-size: 1.8em;
  font-style: italic;
}
section {
  margin-top: 1em;
  margin-bottom: 1em;
}
heading {
  margin-bottom: 1em;
  display: block;
}
footer {
  margin-top: 3em;
  padding-top: 1em;
  padding-left: 2em;
  border-top: 1px dotted darkgray;
}
h1 {
  font-size: 300%;
}
h2 {
  margin-top: 1em;
  font-size: 200%;
}
h3 {
  font-size: 150%;
}
.person {
  margin: 1em;
}
