{% extends 'base.html' %}

{% block title %}{{person.name}}{% endblock %}

{% block content %}

<h2>{{person.name}}</h2>

{% if person.quotes %}
<section>
		<h3>Quotes</h3>
		{% for quote in person.quotes %}
		<article class="quote">
			<blockquote>{{quote.quote}}</blockquote>
			{% if quote.interactions %}
			{% for interaction in quote.interactions %}
			<p class="interaction">{{interaction.label}} <a href="/person/{{interaction.person.id}}">{{interaction.person.name}}</a></p>
			{% endfor %}
			{% endif %}
			{% if quote.context %}
			<p class="context">{{quote.context.name}}</p>
			{% endif %}
		</article>
		{% endfor %}
	</heading>
</section>

{% else %}
<p>No quotes recorded.</p>
{% endif %}

{% endblock %}